/***** Start General *****/
body {
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     padding: 0%;
     padding-top: 0%;
     background-image: url(Images/Background.jpg);
     height: 100%;
     width: 100%;
}

.sticky-top {
    background-color: rgb(204,220,222,0.95);
}

.navbar-brand {
    background-color: rgb(1,1,1,0.0);
}

.navbar-nav {
    background-color: rgb(1,1,1,0.0);
}

.title1 {
    color: #003366;
    padding-right: 7px;
}

.logo {
    max-height: 40px;
}

.footer {
    background-color: rgb(0,0,0,0.80);
    color: white;
    text-align: center;
    font-size: small;
    position: relative;
    bottom: 0%;
    width: 100%;
}

.footerR {
    background-color: rgb(0,0,0,0.80);
    color: white;
    text-align: center;
    font-size: small;
    position: absolute;
    bottom: 0%;
    width: 100%;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: #0c6863;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
}
/***** End General *****/

/***** Start Principal *****/
#contenidoPrincipal {
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.galeria .wow {
    text-align: center;
}

.galeria {
    background-color: rgb(204,220,222,0.95);
    margin-top: 20px;
}

.galeria h3{
    padding: 20px;
}

.carousel1 img{
    object-fit: cover;
    max-width: 80%;
}

.productos {
    background-color: rgb(204,220,222,0.95);
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.productos #center{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 600px;
}

.productos .row img {
    width: 100%;
    max-width: 120px;
}

.productos .column {
    width: 50%;
    max-width: 100px;
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .productos .column img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .productos .column img:hover {
    opacity: 1;
  }
  
  .productos .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .productos .container {
    position: relative;
    text-align: center;
    display: none;
    background-color: rgb(204,220,222,0.95);
  }
  
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #0c6863;
    font-size: 20px;
    background-color: rgba(254, 254, 254, 0.8);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #expandedImg {
    max-width: 200px;
  }
  
  .closebtn {
    position: absolute;
    top: -30px;
    right: 15px;
    color: red;
    font-size: 50px;
    cursor: pointer;
  }

 .noticias .cuadroNoticias h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
    color: #0c6863;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
}

.noticias .cuadroNoticias {
    padding: 10px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
}

.cuadroNoticias img {
    max-width: 100%;
}

.noticias {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(204,220,222,0.9);
}

.noticias .col-md-4 {
    align-content: center;
}

.redes {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
}

.redes {
    background-color: rgb(0,0,0,0.80);
    color: white;
    border-bottom: solid;
}

.redes img {
    margin: 10px;
}

.redes img:hover {
    transform: scale(2);
    cursor: pointer;
}
/***** End Principal *****/

/***** Start AcercaDe y ubicación  *****/ 
.cuadro {
    border: solid black;
    padding: 5%;
    text-align: center;
    margin: 15px;
    background-color: rgb(204,220,222,0.95);
}

.cuadro h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: #0c6863;
    width: 100%;
}

.cuadro .dejalos {
    margin-top: 20%;
}

.cuadro h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
    color: #0c6863;
}

.cuadro h5 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
    color: #003366;
}

.cuadro img {
    max-width: 100%;
}

.cuadro2 {
    padding: 10px;
}

.cuadro2 #logo{
    margin: 5%;
    max-width: 30%;
}

.cuadro2 h3 {
    margin-top: 1px;
}

.cuadro2 h4 {
    margin-left: 10%;
    margin-right: 10%;
}

.cuadro3 {
    padding: 10px;
    display: flex;
    align-items: center;
}

.cuadro3 #autor{
    margin: 5%;
    max-height: 100px;
    max-width: 90%;
}

.cuadro3 .autorContenedor{
    text-align: right;
}

.cuadro3 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin-bottom: 1px;
}

.cuadro3 .colText{
    text-align: left;
}

.historia {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.multimedia {
    display: flex;
    justify-content: center;
}

.multimedia .video {
    width: 90%;
    aspect-ratio: 16 /9;
}

.modalidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 768px) and (min-width: 100px) {
    .historia img {
        max-width: 200px;
    }

    .historia {
        justify-content: center;
    }
}
/***** End AcercaDe y ubicación *****/

/***** Start Contacto *****/
.cuadro4 {
    text-align: left;
}

.cuadro4 .redes1 img{
    float: left;
    margin-right: 10px;
}

.cuadro4 .ayuda{
    align-items: center;
}

.cuadro4 a {
    color: #0c6863;
}

.cuadro4 a:hover {
    color: #5b76e3;
    font-size: large;
}

.cuadro4 h3 {
    margin-top: 1px;
}
/***** End Contacto *****/
